<div class="jumbotron"
  <%= render partial: "sessions/login" %>
</div>

<div class="row">
  <div class="col-sm-8">
  </div>
    <div class="col-sm-4">
      <h1>Signup</h1>
      <%= render partial: "sessions/signup" %>
    </div>
</div>
