<div class="jumbotron", id="login">
  <%= render partial: "sessions/login" %>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="row">
      <h1>Work and Play</h1>
    </div>
    <br>
    <p>
      Maintaining a healthy work-life balance is key to a successful career
      and a happy life. Rebalances your priorities and promote wellness.
    </p>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <h1>Signup</h1>
    <%= render partial: "sessions/signup" %>
  </div>
</div>
