<h1><%= @tag.content %> (<%= @tag.tasks.size %>)</h1>

<ul>
  <% @tag.tasks.each do |task| %>
    <li>
      <% if is_current_user?(task.user) %>
        <%= link_to "#{task.description} | YOU!", home_path %>
      <% else %>
        <%= link_to "#{task.description} |
          #{task.user.fname} #{task.user.lname}", user_path(task.user) %>
      <% end %>
    </li>
  <% end %>
</ul>
