/********************/
/* Task Form        */
/********************/

.task_form {
  border:1px solid black;
  border-radius:10px;
  width:250px;

  margin:10px;
  padding:5px;
}

.task_show {
  border:1px solid black;
  border-radius:10px;
  width:250px;

  margin:10px;
  padding:5px;
}

.completed {
  background-color:gray;
}

/********************/
/* User      */
/********************/


.users {
  font-size:24px;
}
