/********************/
/* Task Form        */
/********************/

.task_form {
  border:1px solid black;
  border-radius:10px;
  width:250px;

  margin:10px;
  padding:5px;
}

.task_show {
  border:2px solid black;
  border-radius:10px;
  width:250px;

  margin:10px;
  padding:5px;
}

.completed {
  background-color:#CAFFCA;
}

#upper-right-button {
  padding: 5px 25px 0 0;
}

#task-information {
  padding-left: 30px;
}

#task-information-form {
  padding-left: 30px;
  padding-top: 20px;
}


#complete-button {
  background-color:#CAFFCA;
  width:170px;
}

#add-button {
  width:170px;
}

#delete-button {
  background-color:#FFDBDB;
}

#like-button {
  background-color:#CAFFCA;
}

/********************/
/* User      */
/********************/


.users {
  font-size:24px;
}
