/********************/
/* User's Name      */
/********************/

.name_display {
  margin:0 auto;
}


.tasks_container {
  width:1000px;
}

.play_tasks {
  float:left;
}

.work_tasks {
  float:right;
}
